{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% include "menu.html" %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!-- for message -->
		

		<div class="row">
			<div class="col-lg-12">
				<h2>Email Logs</h2>
			</div>


			{% for user in recipient %}
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{ user.recipientname }}
					</div>
					<div class="panel-body">
						{% for content in user.get_all_emailbody %}
						<p>{{ content }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
			
			

			
		</div><!-- /.row -->
</div>
{% endblock %}